#app-inner-container {
    min-width: 1200px;
}

#app-content-container {
    max-width: 800px;
}

.full-width {
    width: 100%;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.clickable:hover {
    cursor: pointer;
}

.form-item {
    margin-top: 5px;
}

