#main-page-container {
  width: 480px;
}

#public-chat-rooms {
  margin-top: 15px;
}

#random-chat-rooms-wrapper {
  margin-top: 15px;
}

#login-wrapper {
  margin-top: 10px;
}

#public-room-search-wrapper {
  margin-top: 15px;
}

#private-room-search-wrapper {
  margin-top: 15px;
}

#create-new-chat-room-dialog,
#login-dialog {
  margin-top: 0;
}

#create-new-chat-room-wrapper {
  margin-top: 10px;
}

#new-chat-room-type {
  color: white;
}
