#vchat-content-container {
    width: 1140px;
    margin-top: 100px;
}

#video-wrapper {
    width: 800px;
    height: 450px;
    border: 2px solid black;
    pointer-events: none;
    box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.6);
}

#chat-box-wrapper {
    margin-left: 10px;
    width: 300px;
    height: 452px;
    border: 1px solid black;
    overflow-y: scroll;
}

#chat-messages {
    padding: 5px;
}

.chat-message {
    margin-top: 3px;
}

#user-name {
    width: 285px;
}

#chat-input {
    margin-left: 10px;
    margin-top: 5px;
    width: 303px;
    height: 35px;
}

.system-message-info {
    color: #0091ea;
}

.system-message-warning {
    color: #f44336;
}

.system-message-action {
    color: #0a7e07;
}

#user-input-wrapper {
    width: 600px;
}

#video-controller-container {
    width: 660px;
}

#video-controller-wrapper {
    margin-top: 10px;
}

#video-controller {
    margin-top: 5px;
}

#video-resume,
#video-pause {
    margin-right: 10px;
    padding: 3px;
}

.control-button-image {
    width: 43px;
}

.controller-header {
    text-align: left;
}

#video-time-controller-wrapper {
    margin-top: 5px;
    margin-right: 15px;
}

#video-controller-time {
    height: 27px;
}

#video-control-minutes {
    text-align: right;
}

.video-control-time-input {
    width: 30px;    
}

#current-video-information {
    margin-left: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
}

#current-video-duration,
#current-video-youtube-link {
    margin-top: 3px;
}


#video-link-wrapper {
    margin-top: 10px;
    width: 800px;
}


