#video-wrapper {
    width: 600px;
    height: 338px;
    border: 1px solid black;
    pointer-events: none;
    box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.6);
}

#chat-box-wrapper {
    margin-top: 15px;
    width: 600px;
    max-height: 338px;
    height: 100%;
    border: 1px solid black;
    overflow-y: scroll;
}

#chat-messages {
    padding: 5px;
}

.chat-message {
    margin-top: 3px;
}

#chat-input {
    margin-top: 5px;
}

.system-message-info {
    color: #0091ea;
}

.system-message-warning {
    color: #f44336;
}

.system-message-action {
    color: #0a7e07;
}

#user-input-wrapper {
    width: 600px;
}

#video-controller-wrapper {
    margin-top: 10px;
}

#video-controller {
    margin-top: 5px;
}

#video-resume,
#video-pause {
    margin-right: 10px;
    padding: 3px;
}

.control-button-image {
    width: 43px;
}

.controller-header {
    text-align: left;
}

#video-time-controller-wrapper {
    margin-left: 10px;
    margin-top: 11px;
}

#video-control-minutes {
    text-align: right;
}

.video-control-time-input {
    width: 30px;    
}

#video-link-wrapper {
    margin-top: 10px;
}


